# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.idea/
.env

# Django
db.sqlite3
temp_db.sqlite3
*.sqlite3
media/
staticfiles/

# Docker
.docker/

# Banco de Dados (IMPORTANTE)
# Ignora a pasta onde o volume do Postgres salva os dados no seu PC
pgdata/

# Sistema
.DS_Store
Thumbs.db

# Documentos
passo_a_passo.txt
anotacoes.txt